/* CSS declarations go here */

body {
	background: url(https://static.pexels.com/photos/5299/black-and-white-apple-iphone-smartphone.jpg);
    background-size: auto;
}

.home {
  text-align: center;
}

.main {
	padding-left: 10px;
    padding-right: 10px;
}

.myNote {
	width: 300px;
	height: 300px;
	min-width: 300px;
	min-height: 300px;
	max-width: 300px;
	max-height: 300px;
	background-color: #ffffff;
	color: #000000;
	padding: 10px 10px 10px 10px;
}